.contentListTodo{
  display: grid;
  grid-template-columns: 1fr 1.5rem; 
  gap: 1rem;
  background: var(--gray-500);
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--gray-400);
  position: relative;
}

.contentListTodo input[type=checkbox] {
  visibility: hidden;
  width: 0;
}

.contentListTodo > div {
display: flex; flex-direction: row;
  cursor: pointer;
  /* border: 2px solid var(--blue-100); */
  border-radius: 50%;
  /* position: absolute; */
}

.contentListTodo > div label::before{
  content: '';
  width: 0.9rem;
  height: 0.9rem;
  border: 2px solid var(--blue);
  border-radius: 50%;
  margin-right: 1.3rem;
  color: var(--gray-100);
}

.contentListTodo > div input[type="checkbox"]:checked + label:before {
  content: '\002714';
  background-color: var(--puple-dark);
  border-color: var(--puple-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentListTodo > div input[type="checkbox"]:checked + label {
  /* background-color: var(--purple-500); */
  /* border-color: var(--purple-500); */
}

.contentListTodo input[type="checkbox"]:checked + label{
  text-decoration: line-through;
  color: var(--gray-300);
}

.contentListTodo svg {
  color: var(--gray-300);
  cursor: pointer;
  transition: color 0.2s;
}

.contentListTodo svg:hover{
  color: var(--red);
}