.contentListTodo{
  display: grid;
  grid-template-columns: 1.125rem 1fr 1.5rem; 
  align-items: start;
  gap: 1rem;
  background: var(--gray-500);
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--gray-400);
}

.contentListTodoNoBorder {
  border: 0;
}

.contentListTodo + .contentListTodo{
  margin-top: 1rem;
}

.contentListTodo input[type=checkbox] + label {
  cursor: pointer;
}

.contentListTodo input[type=checkbox] {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid var(--blue-100);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.contentListTodo input[type=checkbox]:checked  {
  appearance: auto;
  accent-color: var(--purple-500);
  clip-path: circle(50% at 50% 50%);
  width: 1.125rem;
  height: 1.125rem;
}

.contentListTodo input[type=checkbox]:checked + label{
  text-decoration: line-through;
  color: var(--gray-300);
}

.contentListTodo button {
  background: transparent;
  border: 0;
}

.contentListTodo svg {
  color: var(--gray-300);
  cursor: pointer;
  transition: color 0.2s;
}

.contentListTodo svg:hover{
  color: var(--red);
}
